@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(97, 97, 97);
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: rgb(255, 245, 199);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */

header{
    width: 100%;
    height: 600px;
    background: #000000; 
    background: linear-gradient(to right, hsla(42, 100%, 50%, 0.339), hsla(0, 0%, 0%, 0.502)), url(../img/portada.png);
    background: linear-gradient(to right, hsla(42, 100%, 50%, 0.339), hsla(0, 0%, 0%, 0.502)), url(../img/portada.png); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: rgb(253, 253, 253);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: rgb(255, 244, 144);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* sobre nosotros */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;

}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #fee645;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;  
    height: 30px; 
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    color: aliceblue;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* galeria */

.portafolio{
    background: rgb(39, 39, 39);
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1);
    background: hsla(0, 0%, 0%, 0.516);
    transition: transform 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    color: aliceblue;
}

.imagen-port:hover .hover-galeria{

    transform: scale(0);
}

/* Clietes */

.cards{
    
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background-color: #daac21;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: aliceblue;

}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

.about-services{
    background: rgb(39, 39, 39);
    padding: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sevicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
      border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.servicio-ind h3{
    text-align: center;
    color: #e8c24e;
    margin: 10px 0 ;
}

.servicio-ind p{
    color: rgb(186, 186, 186);
    margin: 5px 5px 5px 10px;
    font-weight: 300;
    width: 80%;
    text-align: justify;
}



footer{
    background-color: #1c1c1c;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(101, 101, 101);

}


.content-foo{
    text-align: center;
    
}
.content-foo h4{
    color: aliceblue;
    border-bottom: 3px solid yellow;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    cursor: pointer;
    color: aliceblue;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: rgb(148, 148, 148)
}

